/* Social Media CSS Starts */


body{
	padding:0;
	margin:0;
	font-family: neuzeit-grotesk, sans-serif;
}
.fluid-width{
    max-width: 1585px;
    padding: 0 24px 0 24px;
    margin: auto;
}
.bg-color-2{
	background-color:rgb(255,140,0) !important;
}
.bg-color-3{
	background-color:rgb(153,89,10) !important;
}
.bg-color-4{
	background-color:rgb(11,225,241) !important;
}
.bg-color-5{
	background-color:rgb(76,195,95) !important;
}
.bg-color-6{
	background-color:rgb(255,0,0) !important;
}
.bg-color-7{
	background-color:rgb(200,163,2) !important;
}
.bg-color-8{
	background-color:rgb(0,65,30) !important;
}
.bg-color-9{
	background-color:rgb(27,0,143) !important;
}
.bg-color-10{
	background-color:rgb(0,123,57) !important;
}
.bg-color-11{
	background-color:rgb(155,155,155)  !important;
}
.bg-color-12{
	background-color:rgb(232,232,232)  !important;
}
.bg-color-13{
	background-color:rgb(129,239,136)  !important;
}
.bg-color-14{
	background-color:rgb(139,119,16)  !important;
}
.bg-color-15{
	background-color:rgb(148,9,13)  !important;
}
.bg-color-16{
	background-color:rgb(212,13,18)  !important;
}
.bg-color-17{
	background-color:rgb(89,56,15)  !important;
}
.bg-color-18{
	background-color:rgb(125,138,46)  !important;
}

a:hover{
text-decoration:none;
}
.Subra-section-head{
text-align:center;
	margin:0;
	box-sizing:border-box;
		padding-top:30px;
    padding-bottom: 40px;
}
.Subra-section-head h2{
	font-size: 48px;
	line-height: 48px;
    font-weight: bold;
	margin-top:0;
	margin-bottom:0;
}

.Subra-show-more-button {
    margin: 24px 0 65px 0;
	text-align:center;
	font-size:14px;
	line-height:14px;
}
.Subra-social-media{
    padding: 27px 24px 45px 24px;
}
.Subra-social-media-content{
	padding:0;
}
.social-slide-main-content{
    padding-bottom: 93px;
	position:relative;
	word-wrap: break-word;
	overflow-y: auto;
	max-height: 130px;
}
.social-slide-main-content.video{
    padding-top: 14px;
		padding-bottom:0;
		position:relative;
		    word-wrap: break-word;
}
.grey-header{
	color:#9b9b9b;
}
.blue-header{
	color:#3d92ff;
}
.social-slide-main-content iframe{
	width:100%;
	height:69%;
}
.Subra-social-media-content-box{
	margin-bottom:20px;
/* 	box-shadow:14px 0 0px -8px #fcfcfc, 33px 0px 0px -22px  #F2F2F2, 0px 0px 29px -6px rgba(0,0,0,0.75),  0px 4px 0px 0px #f5f5f5; */
	box-sizing:border-box;
	box-shadow: 5px 5px 5px #a5a5a5;
	-webkit-box-shadow: 5px 5px 5px #a5a5a5;
	-moz-box-shadow: 5px 5px 5px #a5a5a5;
}
.social-slide{
	width:100%;
	height:250px;
	position:relative;
	background-color:#ffffff;
	box-sizing:border-box;
	overflow:hidden;
    padding: 15px 26px 14px 26px;
}
.dark-blue{
	font-weight:bold;
	color:#126cde;
}
.social-slide-main-content a{
	color:#3d92ff;
}
.header-content{
	width:100%;
	display:block;
	margin-bottom:5px;
}
.header-content-img{
	display:inline-block;
	vertical-align:top;	
}
.figure{
	position:relative;
}
.header-content-img img{
	width:100%;
	display:block;
}
.bold-header{
	font-weight:bold;
}
.date{
	color:#C4C4C4;
	display:block;
}
.Subra-social-media-content-box .header-content-text{
    display: inline-block;
    vertical-align: top;
	font-size: 16px;
    box-sizing: border-box;
	    width: 68%;
	padding-top: 11px;
}
.slick-dots {
    bottom: 18px;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background:#f5f5f5;
	border-radius:50px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active button
{
    opacity: 1;
    background-color:rgba(0,0,0,0.4);
}
.slick-slide {
    outline: none !important;
}

.Subra-new-button{
	position: absolute;
    top: 0;
    letter-spacing: 2px;
    font-size: 14px;
    right: 20px;
    line-height: 14px;
    padding: 9px;
    text-transform: uppercase;
    background-color: green;
    color: white;
}
.button-show-more{
	border-radius: 50px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    background-color: #9b9b9b;
    outline: none;
	color:white;
	border:none;
	box-sizing:border-box;
    padding: 22px 76px 22px 76px;
}

.popup {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999999999999;
}
.transparent{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
 text-align: center;
}
.transparent a:hover{
 color:#ffffff !important;
}
.close-button{
      position: absolute;
    top: -16px;
    right: -18px;
    width: 30px;
    height: 30px;
    background-color: #000000;
    padding-top: 3px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid #ffffff;
    z-index: 800;
}
.transparent-image{
	left:0px;
	 display:inline-block;
	 position:relative;
	 transform: translateY(-50%);
	 top: 50%;
	 max-width:60%;
}
.popup-image, .popup-video{
     width:100%;
     display:none;
}
.popup-image img{
	width:100%;
}
.less-padding{
	    padding: 15px 9.5px 12px 12px;
}
.social-slide-main-content .figure img, .social-slide-main-content .figure-video img{
	width:100%;
    max-height: 153px;
}
.social-slide .figure img {
    width: 100%;
    max-height: 168px;
}
.social-slide iframe{
	width:100%;
	height:165px;
	border:none;
}

.sub-menu-content-popup{
	position:relative;
-webkit-box-shadow: inset 0px 56px 28px -41px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 56px 28px -41px rgba(0,0,0,0.75);
box-shadow: inset 0px 56px 28px -41px rgba(0,0,0,0.75);
padding: 15px 25px 15px 25px;
}
.sub-menu-content-popup .black-background{
    position: absolute;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
}
.sub-menu-content-popup .sub-menu-part{
	color:#ffffff;
	text-transform:uppercase;
	font-size:14px;
	line-height: 34px;
	vertical-align:middle;
	font-family: neuzeit-grotesk, sans-serif;
	font-weight:700;
	position:relative;
	opacity:1;
	text-align:left;
}
.sub-menu-content-popup .sub-menu-part-text{
	margin-left:35px;
}
.sub-menu-logos {
		top:0px;
	    left: 0px;	
}
.sub-menu-content-popup .sub-menu-logos{
	text-align:right;
	    font-size: 0;
}
@media only screen and (min-width: 1920px){
	.Subra-social-media{
    padding: 27px 80px 75px 80px;
}
.social-slide{
	height:274px;
}
.social-slide-main-content {
    padding-bottom: 81px;
    font-size: 18px;
}
.Subra-social-media-content-box .header-content-text{
	font-size: 19px;
}
.slick-dots {
    bottom: 23px;
}
.social-slide-main-content.video{
    padding-top: 23px;
}
.social-slide-main-content .figure img, .social-slide-main-content .figure-video img {
    max-height: 160px;
}
}
@media only screen and (max-width: 1400px){
.container {
    max-width: 970px;
}
}
@media only screen and (max-width:480px){
.fluid-width{
	width:100%;
}
}
@media only screen and (max-width:380px){
.social-slide .figure img {
    width: 100%;
    height: 208px;
}
}
/* Social Media CSS ends */